server:
  port: 8080

spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      # 路由规则全部放这里
      routes:
        - id: auth_route
          uri: lb://hksc-auth
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1
        - id: user_route
          uri: lb://hksc-user
          predicates:
            - Path=/api/user/**
          filters:
            - StripPrefix=1
        - id: product_route
          uri: lb://hksc-product
          predicates:
            - Path=/api/product/**
          filters:
            - StripPrefix=1
        - id: order_route
          uri: lb://hksc-order
          predicates:
            - Path=/api/order/**
          filters:
            - StripPrefix=1
        - id: cart_route
          uri: lb://hksc-cart
          predicates:
            - Path=/api/cart/**
          filters:
            - StripPrefix=1
        - id: search_route
          uri: lb://hksc-search
          predicates:
            - Path=/api/search/**
          filters:
            - StripPrefix=1
        - id: ai-route
          uri: lb://hksc-ai
          predicates:
            - Path=/api/ai/**
          filters:
            - StripPrefix=1